.station-container {
  background-color: #bee1ed7e;
  margin-top: 2rem;
}
.top-style {
  padding: 0 45px;
}
/* Close Button */
.station-container .close {
  cursor: pointer;
  color: #04448d;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s;
}

.station-container .close:hover {
  opacity: 0.5;
  transform: rotate(180deg);
}
.station-container h2 {
  color: #04448d;
  font-family: 'Familjen Grotesk', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
}
.no-underline {
  text-decoration: none;
}
.close {
  color: #04448d;
  font-size: 2.8rem;
  padding: 0;
  margin: 0;
}
/*----Left side ---- */
.left-container {
  width: 100%;
}
@media (max-width: 600px) {
  .responsive-img {
    max-width: 100%;
  }
}
.img-style img {
  border: #04448d 3px solid;
  border-radius: 10px;
  margin-top: -15px;
}
.blue-color {
  color: #04448d;
  font-family: 'Familjen Grotesk', sans-serif;
}
.description-card {
  width: 84%;
}
.description p {
  font-family: 'familjen Grotesk', sans-serif;
  font-size: 15px;
}
.description span {
  font-size: 13px;
}
.description h3 {
  font-size: 26px;
  font-weight: 600;
}
.description h4 {
  font-size: 21px;
  font-weight: 700;
}
.shrink-line {
  line-height: 1.1;
}
.social-contact {
  background: none !important;
  text-transform: none;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  width: 85%;
  padding: 8px;
}
.contact-btn {
  background: linear-gradient(120deg, #0557b6, #011327, #0557b6);
  background-size: 200% auto;
  background-position: left center;
  padding: 9px;
  border-radius: 15px;
  transition: background-position 0.5s ease;
  margin-bottom: 2rem;
  width: 90%;
}
.contact-btn:hover {
  background-position: right center;
}

/*---Right side--*/
.right-container {
  background-color: #dee8ef;
  border-radius: 15px 15px 0 0;
  border: 1px solid #04448d;
  width: 90%;
}
.first-row h4 {
  font-size: 18px;
}
.checkbox-one {
  margin-bottom: -3rem;
  font-family: 'Familjen Grotesk', sans-serif;
}
.checkbox-two {
  font-family: 'Familjen Grotesk', sans-serif;
  margin-bottom: -3rem;
}
.second-row {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.second-row .card-img {
  border: 1px solid #000000;
  border-radius: 7px;
}
.second-row h5 {
  font-size: 17px;
  font-family: 'Familjen Grotesk', sans-serif;
}
.second-row h6 {
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.second-row p {
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 16px;
  padding-top: 1rem;
  font-weight: 600;
}
.btn-group {
  padding-bottom: 0;
}
.btn-group .btn-plus {
  border-left: #000000 1px solid;
  margin: 0 !important;
}
.btn-group .btn-minus {
  border-right: #000000 1px solid;
}

.btn-group .v-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: #d5dfe6;
  border: #000000 1px solid;
  margin: 0;
  width: 100%;
}

.btn-group p {
  margin: 0;
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 18px !important; /* similar to Vuetify's text-h6 */
  text-align: center;
  width: 20%;
}
.add-address-btn {
  text-transform: none;
  font-family: 'familjen Grotesk', sans-serif;
  font-size: 14px;
  border: #000000 1px solid;
  font-weight: 700;
  background-color: #d5dfe6;
  border-radius: 5px !important;
}
.total-right {
  text-align: right;
  margin-top: 1rem;
  padding-right: 3rem;
  font-family: 'Inter', Times, serif;
  font-weight: 700;
}
.cancel-order-btns {
  padding: 0 10px;
}

.cancel-order-btns h4 {
  margin-left: 50%;
}
.cancel-btn {
  text-transform: none;
  font-family: 'Inter' sans-serif;
  background: #0557b6;
  background-size: 200% auto;
  background-position: left center;
  color: white;
  border-radius: 15px 0;
  text-transform: none;
  transition: background-position 0.5s ease;
  width: 50%;
}

/*set-sched-btn */
.set-sched-btn {
  border-radius: 15px 0 0 0;
}
.set-sched-btn h3 {
  color: #0557b6;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Familjen Grotesk', Times, serif;
}
.set-sched-btn .v-btn {
  border-radius: 15px 0 0 0;
}
.set {
  margin-bottom: -0.3rem;
}
/*bulk-btn */
.bulk-btn h5 {
  font-family: 'Familjen Grotesk', Times, serif;
  color: #6d788e;
  font-weight: 700;
  font-size: 13px;
}
.bulk-btn h3 {
  font-family: 'Familjen Grotesk', Times, serif;
  color: #04448d;
  font-weight: 700;
  font-size: 16px;
}
/*order-bottom-btn */
.order-bottom-btn {
  border-radius: 0 15px 0 0;
  background: linear-gradient(120deg, #0557b6, #011327, #0557b6);
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.5s ease;
}
.order-bottom-btn:hover {
  background-position: right center;
}
.order-bottom-btn .v-btn {
  border-radius: 0 15px 0 0;
}
.order-bottom-btn h5 {
  font-family: 'Familjen Grotesk', Times, serif;
  color: #bdb8d3;
  font-size: 13px;
  font-weight: 500;
}
.order-bottom-btn h3 {
  font-family: 'Familjen Grotesk', Times, serif;
  font-size: 16px;
  font-weight: 700;
}
.set-sched-btn,
.bulk-btn,
.order-bottom-btn {
  margin: 0;
  padding: 0;
  border: 2px solid #04448d;
  background-color: #d5dfe6;
}
.bulk-btn {
  border-left: none;
}

.order-bottom-btn {
  border-left: none;
}

.full-btn {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
  color: #fff;
  text-align: center;
  border-radius: 0;
  padding: 0.75rem 0;
  margin: 0;
  box-sizing: border-box;
}

/*@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  align-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
